/* p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

@font-face {
  font-family: 'Edu VIC WA NT Beginner';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400;1,500&display=swap')
      format('woff2'),
    url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400;1,500&display=swap')
      format('woff');
}
h1 {
  font-family: 'Montserrat', sans-serif;
  /* margin-bottom: 0; */
  margin-top: 2.5vh;
  font-weight: bold;
  text-align: center;
}
.font1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.font2 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.mobBanner1Container {
  position: relative;
  /* margin-left: 6vw; */
  /* margin-right: 6vw; */
  /* margin-top: 4vh; */
}
.mobBanner1text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  position: absolute;
  color: white;
  right: 9%;
  top: 25%;
  text-align: left;
  opacity: 90%;
}
.dskBanner1Container {
  position: relative;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 0.5vh;
}
.cursiveFont {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.mobBanner2text {
  /* font-family: 'Edu VIC WA NT Beginner', cursive; */
  position: absolute;
  color: white;
  right: 12%;
  top: 14%;
  text-align: right;
  opacity: 90%;
  font-weight: bolder;
}

.filtertable li {
  padding: 50px;
}
